ISA=i386
DOCKER_PLATFORM=linux/386

## Uncomment to boot via UEFI (default: BIOS)
# BOOT_MODE=UEFI

## (Optional) Connect to QEMU via VNC.
# e.g. VNC_ADDR=xxx.xxx.xx.xx:1
VNC_ADDR=
VNC_PORT=1
VNC_PASS_FILE=.vncpass
