# GRUB configuration file (UEFI)
# make run-iso-uefi で使用する

# UEFIではBIOSのVGA text modeを前提にできないため，
# GRUB側はEFI GOP framebufferを使うグラフィカル端末に固定する．
insmod efi_gop
insmod efi_uga
insmod video
insmod gfxterm
terminal_input console
terminal_output gfxterm
set gfxpayload=keep

menuentry "kfs" {
    multiboot2 /boot/Image
    boot
}
