# GRUB configuration file (UEFI)
# make run-iso-uefi で使用する

# GRUBのデフォルトターミナルはグラフィカルコンソールgfxtermだが、
# UEFI環境でVGAモードが存在しない場合はエラーになる。
# そのため、テキストコンソールconsole
# （EFI_SIMPLE_TEXT_INPUT_PROTOCOL，EFI_SIMPLE_TEXT_OUTPUT_PROTOCOL）
# に固定する
terminal_input console
terminal_output console

menuentry "kfs" {
    multiboot2 /boot/Image
    boot
}
