name: Check Coverage

on: push

jobs:
  C1-80:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install python3
      - name: Generate coverage report
        run: make coverage
      - name: Check if branch coverage is 80%
        run: |
          BRANCH_COVERAGE=$(cd ./test/unit/coverage/log && awk '/— Total —- -- -- -- --/{getline; sub(/%$/, "", $NF); print $NF}' summary.txt)
          result=$(echo "$BRANCH_COVERAGE >= 80" | bc)
          if [ "$result" -eq 1 ]; then \
              echo "Branch coverage is sufficient: $BRANCH_COVERAGE%"
          else
              echo "Error: Branch coverage is below 80%: $BRANCH_COVERAGE%"
              exit 1
          fi
